:root {
  --bg-color: #101010;
  --primary-color: #3587D2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;

  height: 100vh;

  color: var(--primary-color);
  font-family: 'Poppins', sans-serif;

  background-color: var(--bg-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.option {
  align-items: center;
  justify-content: center;
}

/* Utils */
.flex {
  display: flex;
}
.grid {
  display: grid;
}

/* Layout */
#game {
  row-gap: 4rem;
  justify-items: center;
}

.header {
  row-gap: 1.5rem;
  justify-items: center;
}

.title {
  color: white;
  font-size: 2rem;
  font-weight: 500;
}
.subtitle {
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.scoreboard {
  align-items: center;
  column-gap: 1rem;
}

.score {
  place-items: center;

  width: 2.5rem;
  height: 2.5rem;

  color: white;
  background-color: var(--primary-color);
  font-size: 1rem;

  border-radius: 0.375rem;
}

.frame {
  grid-template-columns: repeat(3, 1fr);
  border: .2rem solid var(--primary-color);
  border-radius: 1rem;
  border-collapse: collapse;
}
.frame > div {
  width: clamp(6rem, 22vw, 8rem);
  height: clamp(6rem, 22vw, 8rem);
  border: .15rem solid var(--primary-color);
}

.frame > div:nth-of-type(1) {
  border-top: transparent;
  border-left: transparent;
}
.frame > div:nth-of-type(2) {
  border-top: transparent;
}
.frame > div:nth-of-type(3) {
  border-top: transparent;
  border-right: transparent;
}
.frame > div:nth-of-type(4) {
  border-left: transparent;
}
.frame > div:nth-of-type(6) {
  border-right: transparent;
}
.frame > div:nth-of-type(7) {
  border-left: transparent;
  border-bottom: transparent;
}
.frame > div:nth-of-type(8) {
  border-bottom: transparent;
}
.frame > div:nth-of-type(9) {
  border-right: transparent;
  border-bottom: transparent;
}

.link {
  align-items: center;
  column-gap: 1rem;

  font-size: 1rem;
  font-weight: 500;
}